body {
	background-color:#f4f4f4;
	color:black;
	
	font: normal Arial,Helvetica, san-sarif;
	
	Line-height:1.3em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align: center;
}

#main-header{
	background-color:red;
	color: #fff;
}

#navbar{
	background-color:#333:
	color: red;
}

#navbar ul{
	padding:0;
	List-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:red;
	text-decoration:none;
	font-size: 20px;
	padding-right:15px;
}

#showcase{
	background-image:url('');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color: #fff;
	font-size:50px;
	Line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float:left:
	pading 0 30px;
	box-sizing: border-box;
}

#main-footer{
	background #333;
	color:#fff;
	text-align: center;
	padding:20px;
}

@media(max-width:600 px){
		#main{
			width:100%;
			float:none;
		}
}





/*phones, custom*/
@media (max-width: 575px) {
  
}

/*Small devices, landscape phones*/
@media (min-width: 576px) and (max-width: 767px) {
  
}

/*Medium devices, tablets*/
@media (min-width: 768px) {
  
}