/*CLEARFLOATS OF CHILDREN*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/*CLEARFLOATS OF CHILDREN*/

body {
	background-color: lightgray;
	font: normal Arial,Helvetica, san-sarif;
	
	Line-height:1.3em;
	margin:0;
}

.container{
	max-width: 960px;
	margin:auto;
	overflow:hidden;
	text-align: center;
	background-color: darkorange;
}

#main-header{
	background-color:red;
	color: #fff;
}

#navbar{
	background-color: gray;
	text-align: center;
}

#navbar ul{
	
	list-style-type: none;
	display: inline-block;
}

#navbar li{
	float: left;
	margin: 0;
}

#navbar a{
	color: darkorange;
	text-decoration:none;
	font-size: 20px;
	padding: 10px 20px;
}

#navbar a:hover{
	background-color: black;
}

#showcase{
	background-image:url('');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color: #fff;
	font-size:50px;
	Line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float:left:
	pading 0 30px;
	box-sizing: border-box;
}

#main-footer{
	background #333;
	color:#fff;
	text-align: center;
	padding:20px;
}

@media(max-width:600 px){
		#main{
			width:100%;
			float:none;
		}
}





/*phones, custom*/
@media (max-width: 575px) {
  
}

/*Small devices, landscape phones*/
@media (min-width: 576px) and (max-width: 767px) {
  
}

/*Medium devices, tablets*/
@media (min-width: 768px) {
  
}