/*CLEARFLOATS OF CHILDREN*/
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/*CLEARFLOATS OF CHILDREN*/

body {
	background-image: url("Images/background.jpg");
	background-color: red;
	font: normal Arial,Helvetica, san-sarif;
	
	Line-height:1.3em;
	margin:0;
	padding-bottom: 40px;
}

body ul{
	
	list-style-type: none;
	display: inline-block;
}

body li{
	float: left;
	margin: 10px;
}

.container{
	border-style:solid;
	border-width: 3px;
	border-radius:30px;
	max-width: 960px;
	margin:auto;
	overflow:hidden;
	text-align: center;
	position: relative;
	background: rgba(255, 255, 255, 0.8);
}

.container h1{
	color:#DAA520;
	font-size:40px;
	margin: 35px;
	padding: 10px;
	line-height: 1;
}

#main-header{
	background-color:red;
	color: #fff;
}

#navbar{
	background-color: #FFD700;
	text-align: center;
}

#navbar ul{
	
	list-style-type: none;
	display: inline-block;
}

#navbar li{
	float: left;
	margin: 0;
}

#navbar a{
	color: black;
	text-decoration:none;
	font-size: 20px;
	padding: 10px 20px;
}

#navbar a:hover{
	background-color: red;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 19999;
	background-color: #FFD700;
	min-width: 160px;
	width: 330px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	font-size: 8px;
}
.dropdown:hover .dropdown-content {
	position: absolute;
    display: block;
}

#showcase{
	background-image:url('Images/main.jpg');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color: #FFD700;
	font-size:50px;
	Line-height: 1.6em;
	padding-top: 30px;
}

#main{
	float:left:
	pading 0 30px;
	box-sizing: border-box;
}

#main-footer{
	background #333;
	color:#fff;
	text-align: center;
	padding:20px;
}

#map {
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
   


#wrapper {
	max-width: 960px;
	height: 960px;
	background-color: orange;
	margin: 0 auto;
	overflow: hidden;
}

#canvas {
	width: 700px;
	height: 700px;
	background-color: lightblue;
	margin: 30px auto;
}

@media(max-width:600 px){
		#main{
			width:100%;
			float:none;
		}
}





/*phones, custom*/
@media (max-width: 575px) {
  
}

/*Small devices, landscape phones*/
@media (min-width: 576px) and (max-width: 767px) {
  
}

/*Medium devices, tablets*/
@media (min-width: 768px) {
  
}