body {
	background-color:#f4f4f4;
	color:black;
	
	font: normal Arial,Helvetica, san-sarif;
	
	Line-height:1.3em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:red;
	color: #fff;
}

#nav{
	background-color:#333:
	color :#fff;
}

#nav ul{
	padding:0;
	List-style: none;
}

#nav li{
	display:inline;
}

#nav a{
	color:#fff;
	text-decoration:none;
	font-size: 20px;
	padding-right:15px;
}

#showcase{
	background-image:url('');
	background-position:center right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
}

#showcase h1{
	color: #fff;
	font-size:50px;
	Line-height: 1.6em;
	padding-top: 30px;
}

.box-1{
	background-color:red;
	border:5px black solid;
	padding:10px
}

.categories ul{
	float:left;
	width: 20%
	List-style:none;
	box-sizing:border-box;
}